@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

:root {
    --main-color: #CCE7FF;
    --white: #FFFFFF;
    --black: #000;
    --bg-color: #F6F6F6;
    --gray-1: #979797;
    --link-color: #0F5C88;
    --font16: 16px;
    --font24: 24px;
    --main-column: 735px;
    --add-column: 210px;
}

* {
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-collapse: collapse;
    box-sizing: border-box;
}

a {
    color: var(--link-color);
}

body {
    font-size: var(--font16);
    background-color: var(--bg-color);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gray-1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--gray-1);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--gray-1);
}

input[type=text] {
    font-size: var(--font16);
    padding: 12px 28px;
    border-radius: 5px;
    border: 0px;
}

button {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--font16);
    border-radius: 10px;
    padding: 10px 13px;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    line-height: 19px;
    letter-spacing: -0.32px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.header {
    font-size: var(--font16);
    font-weight: 600;
    background-color: var(--main-color);
    padding: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper-center,
.header-center {
    width: var(--main-column);
}

.wrapper-center {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header-center {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-center input[type=text] {
    width: 373px;
}

.header-right,
.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: var(--add-column);
}

.header-left {
    font-weight: 700;
    font-size: var(--font24);
}

.header-left a {
    color: var(--black);
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.wrapper-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.wrapper-left,
.header-left {
    margin-left: 56px;
}

.wrapper-right,
.header-right {
    margin-right: 56px;
}

.wrapper-left__link {
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    /* 118.75% */
    letter-spacing: -0.32px;
    display: flex;
    padding: 10px 25px;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;
    color: var(--black);
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
}

.wrapper-left__link.hovered,
.wrapper-left__link:hover {
    background-color: var(--white);
}

.wrapper-left__bottom {
    gap: 14px;
    margin-top: 60px;
    flex-direction: column;
    display: flex;
}

.wrapper-left__bottom a {
    color: var(--gray-1);
    text-decoration: none;
}

.newscontainer {
    background-color: var(--white);
    border-radius: 5px;
    padding: 24px;
    display: flex;
    gap: 13px;
    flex-direction: column;
    text-decoration: none;
}

.newscontainer a {
    text-decoration: none;
    color: var(--black);
}

.newscontainer-title {
    font-size: var(--font16);
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: -0.32px;
}

.newscontainer-more a {
    color: var(--gray-1);
    text-decoration: none;
}

.newsblock {
    background-color: var(--white);
    border-radius: 15px;
}

.newsblock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
}

.newsblock-content {
    padding: 20px;
}

.newsblock-content h2 {
    margin: 0;
}

.newsblock-type {
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    gap: 8px;
    letter-spacing: -0.32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.newsblock-subscription a {
    text-decoration: none;
}

.newsblock-author {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.newsblock-date {
    color: var(--gray-1);
}

.newsblock-footer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.newsblock-footer__right,
.newsblock-footer__left {
    display: flex;
    align-items: center;
    gap: 27px;
}

.newsblock-footer__cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}