.form-control-inputs {
  width: 100%;
  margin-bottom: 15px;
  font-size: 28px;
}
.btn {
  background-color: #e84040;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 15px;
}
.password {
  width: 100%;
  margin-bottom: 15px;

  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.spanEntry {
  color: rgb(78, 78, 238);
  cursor: pointer;
}

.h3 {
  text-align: center;
}
