@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');
@import url(wrapper.module.css);
@import url(Activation.css);
@import url(CreatePost.css);
@import url(EntryOrCreateAccount.css);
@import url(FormAuth.css);
/*@import url(globals.css);*/
@import url(header.module.css);
@import url(Home.module.css);
@import url(loginForm.module.css);
@import url(ProfileMini.module.css);
@import url(registerForm.module.css);
@import url(RegistrationConfirm.module.css);
@import url(wrapper.module.css);
@import url(User.css);
@import url(LayoutNoPage.css);
@import url(Comments.module.css);

:root {
    --main-color: #cce7ff;
    --white: #fff;
    --black: #000;
    --bg-color: #f6f6f6;
    --bg-color2: #f5f5f5;
    --gray-1: #979797;
    --gray-2: #ccc;
    --link-color: #0f5c88;
    --rating-color: #20c144;
    --red-color: #e55858;
    --red-color-2: #e95b5b;
    --red-color-3: #e84040;
    --font16: 16px;
    --font24: 24px;
    --main-column: 735px;
    --add-column: 270px;
}

* {
    outline: 0;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-collapse: collapse;
    box-sizing: border-box;
}

a {
    color: var(--link-color);
}

body {
    margin: 0;
    font-size: var(--font16);
    background-color: var(--bg-color);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gray-1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--gray-1);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--gray-1);
}

/* input[type='text'] {
  font-size: var(--font24);
  padding: 12px 28px;
  border-radius: 5px;
  border: 0px;
} */

button {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--font16);
    border-radius: 10px;
    padding: 10px 13px;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    line-height: 19px;
    letter-spacing: -0.32px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

/* Start Home Page */
.newscontainer {
    background-color: var(--white);
    border-radius: 5px;
    padding: 24px;
    display: flex;
    gap: 13px;
    flex-direction: column;
    text-decoration: none;
}

.newscontainer a {
    text-decoration: none;
    color: var(--black);
}

.newscontainer-title {
    font-size: var(--font16);
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: -0.32px;
}

.newscontainer-more a {
    color: var(--gray-1);
    text-decoration: none;
}

/* End Home Page */

.post {
    background-color: var(--white);
    border-radius: 15px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
}

.newsblock-content {
    padding: 20px;
}

.newsblock-type {
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    gap: 8px;
    letter-spacing: -0.32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.newsblock-subscription a {
    text-decoration: none;
}

.newsblock-author {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.newsblock-date {
    color: var(--gray-1);
}

.post-image img {
    width: 100%;
    height: auto;
}

.newsblock-footer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.newsblock-footer__right,
.newsblock-footer__left {
    display: flex;
    align-items: center;
    gap: 27px;
}

.newsblock-footer__cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* Common Styles */
.whitebox {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
}

/* Common red button */
.btn-red {
    padding: 10px 15px;
    font-size: var(--font16);
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.32px;
    background-color: var(--red-color);
    display: flex;
    flex-direction: row;
    gap: 11px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: start;
    transition: 0.15s;
}

.btn-red.deactivate {
    background-color: var(--gray-2);
    color: var(--gray-1);
}

.btn-red:hover {
    background-color: var(--red-color-2);
}

.btn-red.btn-register {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--red-color-3);
    padding: 14px 25px;
}

.btn-red.btn-register:hover {
    background-color: var(--red-color-2);
}

.no-page-message-box {
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 25px;
    border-radius: 10px;
}

.inline {
    display: inline-block;
}
