.create-post {
    background-color: var(--white);
    padding: 30px 30px 25px;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.create-post__submit {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-post__input {
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
    color: var(--gray-1);
    text-align: center;
    font-size: var(--font16);
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.btn-red.create-post__btn {
    padding: 18px 35px;
    border-radius: 10px;
}

.create-post__input img {
    margin-right: 14px;
}

.create-post__input input[type='file'] {
    display: none;
}

.create-post__img {
    object-fit: contain;
    left: 230px;
    position: absolute;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
}

span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit;
}


.form-select {
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-align: left;

}

.form-control__select {
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

.form-control__input {
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

.form-control__input.loading {
    opacity: 50%;
}