
.no-page-message-box {
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 25px;
    border-radius: 10px;
}

.btn-red.no-page-sub-btn {
    display: inline-block;
}

